ctype html
ml
    head
        tile Examen 1
    body
        h1 Antonio Ortiz Morales - SI709380
        h2 Examen 1 - Computo en la nube
        form(action="/nuevo", method="post")
            label Texto por analizar:
            input(type="text", name="texto")
            button(type="submit") Analizar
        ol 
            each resultado in resultados
                li resultado
